<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\Users\FUD-XPS\Desktop\Cloudflare Sync\CloudflareApp\bin\Debug"/>
    <add key="SyncTime" value="30" />
    <add key="X-Auth-Key" value="1f66622fb3f8a666f522537bebc32af7e974b" />
    <add key="X-Auth-Email" value="iamsrichai@gmail.com" />
    <add key="www" value="bigboom.me" />
    <add key="check_ip_url" value="https://api.ipify.org?format=json" />
    <add key="get_list_url" value="https://api.cloudflare.com/client/v4/zones/02c830b043ee40e9b576f6e03fef344b/dns_records" />
    <add key="update_ip_url" value="https://api.cloudflare.com/client/v4/zones/02c830b043ee40e9b576f6e03fef344b/dns_records/bde3014f8497580682c5cf303be5ef03" />
  </appSettings>
</configuration>
