<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogPath" value="D:\Log"/>
    <add key="SyncTime" value="30" />
    <add key="X-Auth-Key" value="" />
    <add key="X-Auth-Email" value="test@gmail.com" />
    <add key="www" value="mywebsite.me" />
    <add key="check_ip_url" value="https://api.ipify.org?format=json" />
    <add key="get_list_url" value="https://api.cloudflare.com/client/v4/zones/02c830b043ee40e9b576f6e03fef344b/dns_records" />
    <add key="update_ip_url" value="https://api.cloudflare.com/client/v4/zones/02c830b043ee40e9b576f6e03fef344b/dns_records/bde3014f8497580682c5cf303be5ef03" />
  </appSettings>
</configuration>
